<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">GeekBox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../"># 话题<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'library_index' %}">图书馆</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="{% url 'wiki_index' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            教程
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'wiki_py3' 'python进阶文档' %}">python3进阶</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">django教程</a>
          </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'wiki_index' %}">wiki</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
          <ul class="navbar-nav mr-right">
          <li class="nav-item active">
           <a class="nav-link" href="{% url 'logout' %}">退出 </a>
          </li>
         <ul class="navbar-nav mr-right">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'userpage' request.user %}">个人主页 </a>
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav mr-right">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'register' %}">注册</a>
          </li>
         <ul class="navbar-nav mr-right">
          <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">登入</a>
          </li>
        </ul>
      {% endif %}
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search all" aria-label="Search">
        <button class="btn  btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>

