{% load bootstrap_tags %}
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<form method="POST" action="">
{% csrf_token %}
<div class="modal-body ">



{{update_form|as_bootstrap}}       
{{ update_form.media }}
        
        
</div>
<div class="modal-footer text-right">
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-block"> 提 交  </button>
        </div>
</div> 



</form>
<script>
$(".django-ckeditor-widget").removeAttr('style');
</script>